name: Build Packages

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      packages:
        description: 'Buld package names'
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  DEVELOPER_DIR: /Applications/Xcode_15.0.app/Contents/Developer

jobs:

  swiftpm:
    name: Build
    runs-on: macOS-13
    strategy:
      matrix:
        packages: ${{ fromJSON(github.event.inputs.packages)}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Build Package
        run: xcodebuild clean build -skipPackagePluginValidation -scheme ${{ matrix.packages }} -destination 'platform=iOS Simulator,name=iPhone 8,OS=16.4' | xcpretty && exit ${PIPESTATUS[0]}
